<div class="container">

  <div class="card-white">

    <% if @cocktail.photo.attached? %>
      <% @path = @cocktail.photo.key %>
    <% else %>
      <% @path = ['YiYZiCX3Gp56WmN4ZNfzKp8n', 'FJxgWbLgmMLfmBp7u3xjAjsb', 'HBnqCUBU2XXNekM4pMAoBegi'].sample %>
    <% end %>

    <%= cl_image_tag @path, height: 400, crop: :fill %>

    <div class="card-cocktail-info">

      <div class="card-cocktail-title">
        <h1><%= @cocktail.name %></h1>
      </div>

      <div class="card-cocktail-ingredients">
        <h2>Ingredients</h2>
        <ul class="list-group list-group-flush">
          <% @cocktail.doses.each do |dose| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">

              <%= "#{dose.description} of #{dose.ingredient.name}" %>

              <span>
                <i class="fas fa-trash btn" id="sweet-alert-demo"></i>
                <%= link_to "", dose_path(dose), method: :delete, id: "delete-link", class: "hidden" %>
              </span>

            </li>


          <% end %>
        </ul>
      </div>
      <%= link_to new_cocktail_dose_path(@cocktail), class: 'add-dose btn btn-primary' do %>
        Add a new dose
      <% end %>
    </div>
  </div>

  <%= link_to cocktails_path, class: 'btn btn-light' do %>
    Back
  <% end %>
</div>
